.AnnexRow {
  border: 1px solid #80808070;
  border-width: 1px 0px 0px 0px;
  position: relative;
}

.AnnexSno {
  width: 10%;
  text-align: center;
}

.AnnexMsg {
  width: 58%;
  padding: 1rem;
  text-align: justify;
}

.AnnexFrom {
  width: 12%;
  padding: 1rem;
}

.AnnexStatus {
  width: 14%;
  padding: 1rem;
}

.AnnexHoverBtn{
  position: absolute;
  display: none;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.AnnexHoverBtn button{
  padding: 0px;
}

.AnnexRow:hover .AnnexHoverBtn{
  display: flex;
}